@media all and (max-width: 480px) {
  .about {
    padding: 0; }

  .skills-box-item {
    display: none; }

  .skills-box-item-wrap:nth-of-type(1) h1 {
    color: #2c305a; }
  .skills-box-item-wrap:nth-of-type(2) h1 {
    color: #2d828e; }
  .skills-box-item-wrap:nth-of-type(3) h1 {
    color: #928b60; }
  .skills-box-item-wrap:nth-of-type(4) h1 {
    color: #c14646; }

  .contacts-text-par {
    font-size: 1rem; } }
@media all and (max-width: 768px) {
  .fixed-menu {
    display: none; } }
@media all and (max-width: 992px) {
  .skills {
    padding: 2rem 20px 2rem; }

  .projects {
    padding: 2rem 20px; }

  .skills-box-item-wrap {
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    text-align: left;
    width: 100%; }

  .skills-box-item {
    flex: 1;
    margin: 0;
    min-width: 150px; }

  .skills-box-item-content {
    flex: 6; }

  .skills-box-line {
    display: none; }

  .skills-box-descr {
    padding-top: 0.5rem; } }
@media all and (max-width: 1368px) {
  .contacts-wrap {
    width: auto; } }
@media all and (min-width: 480px) {
  .about {
    margin-bottom: -1px;
    padding: 1rem 2rem 4rem; }

  .work-content-block-testimonial {
    margin-top: 90px; }

  .contacts-form-input {
    width: 30%; }

  footer .footer-copy, footer .footer-resume {
    font: 0.9rem "RobotoRegular"; } }
@media all and (min-width: 600px) {
  .main-sandwich-menu {
    display: inline-block; }

  .contacts-around-wrap {
    left: -135px;
    width: 345px; }

  .contacts-form-status {
    width: 70%; } }
@media all and (min-width: 992px) {
  .about {
    padding: 0; }
    .about-wrap {
      border-radius: 10px 0 0 10px; }

  /*.main
   * height: 100vh
   * padding-bottom: 0
   * &-wrap
   * 	&-heading
   * 		font-size: 3.5rem
   * 		margin-top: 15vh
   * 	&-buttons
   * 		justify-content: flex-start
   * 	&-button
   * 		//margin: 3rem 1rem 0 0
   * &-arrow
   * 	display: block */
  .about-wrap, .about-photo {
    width: 50%; }

  .skills-info {
    padding: 4rem 0 0; }
  .skills-blocks {
    align-items: flex-start;
    flex-flow: row wrap; }
    .skills-blocks-item {
      width: 33%;
      margin-bottom: 0;
      text-align: center; }

  .work-content-block {
    max-width: 100%; }
    .work-content-block:nth-of-type(1) {
      padding: 50px 0 70px; }
    .work-content-block-descr, .work-content-block-img {
      max-width: 100%;
      width: 50%; }
    .work-content-block-descr {
      text-align: left; }
      .work-content-block-descr-heading {
        margin: 0; }
    .work-content-block:nth-of-type(2n+1) .work-content-block-descr {
      order: 0;
      padding-right: 10%; }
    .work-content-block:nth-of-type(2n) .work-content-block-descr {
      padding-left: 10%; }
  .work-content-testimonial-cite {
    font-size: 1.2rem; }

  .contacts-around-wrap {
    left: 0;
    width: 300px; } }
@media all and (min-width: 1368px) {
  .main-sandwich-wrap {
    right: calc(50% - 460px); } }

/*# sourceMappingURL=media.css.map */
